.button {
    margin: 10px;
    width: 60px;
    background: #352A3B;
    color: #cbc6c5;
    outline: none;
}

.button:focus {
    outline: #cbc6c5 solid 1px
}

.active {
    background: darkgreen;
}

.affair {
    display: flex;
}

.item {
    margin: 10px;
    width: 86px;
    font-weight: 700;
}

.high {
    color: crimson;
}

.middle {
    color: gold;
}

.low {
    color: greenyellow;
}
