.input:focus {
    outline: none;
    border: #352A3B solid 2px;
}

.superInput {
    margin: 10px;
    background: #352A3B;
    color: dimgrey;
}

.errorInput {
    margin: 10px;

    background: #352A3B;
    color: dimgrey;
    border: 2px solid crimson;
}

.error {
    color: crimson;
    height: 21px;
    margin-left: 10px;
}
