.link {
    text-decoration: none;
    color: darkcyan;
    margin: 10px;
}

.link:hover {
    color: chartreuse;
}

.active {
    color: gold;
}

.block {
    width: 21px;
    height: 21px;
    margin: 10px;
    background: #352a3b;
}

.header {
    display: flex;
    width: 280px;
    transition-duration: 500ms;
    transform: translate(-220px);
}

.header:hover {
    transition-duration: 500ms;
    transform: translate(0px);
}
