.greeting {
    display: flex;
    align-items: flex-start
}

.error {
    color: red;
    height: 21px;
    margin-left: 10px
}

.input {
    margin: 10px;
    background: #352A3B;
    color: #cbc6c5
}

.input:focus {
    outline: none;
    border: #cbc6c5 solid 2px
}

.errorInput {
    margin: 10px;
    background: #352A3B;
    color: #cbc6c5;
    border: 2px solid red;
    outline: none;
}

.button {
    margin: 10px;
    width: 60px;
    background: #352A3B;
    color: #cbc6c5;
    outline: none
}

.button:focus {
    outline: #352A3B solid 1px;
}

.button:active {
    background: #352A3B;
}

.button:disabled {
    color: dimgrey;
}

.count {
    margin: 10px;
}
